.company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.company-elements {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.company-input-card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.company-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.company-inputs > input:first-child {
    grid-column: auto / span 2;
}
