.leadership-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.company-elements {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.company-input-card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.company-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.company-inputs > input:first-child {
    grid-column: auto / span 2;
}

.leadership-title {
    text-align: center;
    margin-left: 9em;
    font-weight: 600;
    text-decoration: underline;
}

/* Resume Page */

.company-elements {
    display: grid;
    grid-template-columns: 14em 1fr 1fr 2em;
    grid-template-rows: repeat(4, 3em);
}

p.leadership-organization {
    font-weight: 600;
}

p.leadership-startDate {
    grid-column: 3 / 4;
    justify-self: end;
    font-weight: 600;
}

p.leadership-endDate {
    grid-column: 4 / 6;
    justify-self: end;
    font-weight: 600;
}

p.leadership-jobTitle {
    grid-column: 1 / 2;
    font-weight: 600;
    font-style: italic;
}

p.leadership-city {
    grid-column: 3 / 5;
    justify-self: end;
}

p.leadership-state {
    grid-column: 5 / 6;
    justify-self: end;
}

p.leadership-description {
    grid-row: 3 / 4;
    grid-column: 1 / end;
}

.leadership-detail {
    grid-row: 4 / 5;
    grid-column: 1 / end;
}

@media (max-width: 1200px) {
    .leadership-div > .company-elements {
        display: block;
    }

    .leadership-div > .company-elements {
        min-width: 11.7em;
    }
}

@media (min-width: 540.1px) and (max-width: 1200px) {
    h1.leadership-title {
        margin-left: 12em;
    }
}
